{% extends 'base.html' %}

{% block 'titulo' %}Login{% endblock %}

{% block 'conteudo' %}

<div class="col-md-4 m-auto">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="id_username">Usuário:</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="id_password">Senha:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="d-block">
            <a href="{% url 'password_reset' %}" style="margin-left: 60%;">Esqueci minha senha</a>
        </div>
        <button class="btn btn-warning mt-10" type="submit">Entrar</button>
    </form>
    
</div>

{% endblock %}