{% extends 'base.html' %}

{% block 'titulo' %}
BarberShop - Contato
{% endblock %}

{% block 'btn' %}
<li class="nav-item">
    <a href="{% url 'cadastrar' %}" type="button" class="btn btn-primary mb-2 mb-md-0 mr-md-2">Cadastrar</a>
</li>
<li class="nav-item">
    <a href="{% url 'login' %}" type="button" class="btn btn-light">Entrar</a>
</li>
{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block 'conteudo' %}
<div class="container text-center">
    <div id="alert-container"></div>
    <form method="POST" autocomplete="off" class="mt-4">
        <h4 class="text-white-50 mb-4">Entre em contato conosco</h4>
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <a href="mailto:univespteste1@gmail.com?subject=Contato pelo Formulário">
            <button type="submit" class="btn btn-success w-100 w-md-auto">Enviar</button>
        </a>
    </form>
</div>

{% block scripts %}
<script>
    function exibirAlerta() {
        var alertContainer = document.getElementById('alert-container');
        var alertDiv = document.createElement('div');
        alertDiv.className = 'alert alert-success';
        alertDiv.textContent = 'Mensagem enviada com sucesso!';
        alertContainer.appendChild(alertDiv);

        setTimeout(function() {
            alertContainer.removeChild(alertDiv);
        }, 5000);
    }
</script>
{% endblock %}
{% endblock %}