{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Galeria{% endblock %}

{% block 'conteudo' %}
    <h1 class="text-white-50 text-center mb-4">Galeria</h1>

    <div class="caixa1 mb-4">
        <div class="conteudo-titulo">
            <span class="titulo">Caixa 1</span>
        </div>
        <img src="{% static 'img/galeria/image1.jpg' %}" alt="Imagem 1" class="img-fluid" style="max-width: 100%;">
    </div>

    <div class="content mb-4">
        <h3 class="text-center">Parallax</h3>
        <p class="text-center">Conteúdo da caixa 1...</p>
    </div>

    <div class="caixa2 mb-4">
        <div class="conteudo-titulo">
            <span class="titulo">Caixa 2</span>
        </div>
        <img src="{% static 'img/galeria/image2.jpg' %}" alt="Imagem 2" class="img-fluid" style="max-width: 100%;">
    </div>

    <div class="content mb-4">
        <h3 class="text-center">Parallax</h3>
        <p class="text-center">Conteúdo da caixa 2...</p>
    </div>

    <div class="caixa3 mb-4">
        <div class="conteudo-titulo">
            <span class="titulo">Caixa 3</span>
        </div>
        <img src="{% static 'img/galeria/image3.jpg' %}" alt="Imagem 3" class="img-fluid" style="max-width: 100%;">
    </div>

    <div class="content mb-4">
        <h3 class="text-center">Parallax</h3>
        <p class="text-center">Conteúdo da caixa 3...</p>
    </div>
{% endblock %}