{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Nossos produtos{% endblock %}

{% block 'conteudo' %}

<h1 class="text-white text-center m-4">Nossos produtos</h1>
  <div class="row m-5">
    {% for produto in produtos %}
      <div class="card col-md-4 mb-4 m-2" style="width: 15rem;">
        <img class="card-img-top" src="{{ produto.imagem.url }}" alt="{{ produto.prod_nome }}" style="padding-top: 1rem;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ produto.prod_nome }}</h5>
          <p class="card-text">{{ produto.prod_descricao }}</p>
          <p class="card-text">Valor: R$ {{ produto.prod_valor }}</p>
          <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}